.TableContainer {
   display: table;
   width: 100%;
   color: gray;
   box-shadow: 0 0 8px #ADD8E6;
}

.TableRow {
    padding: 0;
    margin: 0;
    display: table-row;
    outline: 0.5px solid rgb(231, 228, 228);

    &:hover {
        cursor: pointer;
        background-color:#F5F5F5
    }
}

.TableData {
    display: table-cell;
    padding: 1%;
}

.SelectedRow{
    background-color:#EEEEEE;
} 

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 2px #3393FF;
}

.Alert {
    font-weight: bolder;
    border: none;
    background: none;
    font-size: 20px;
}